@import '../../styles/global.scss';

.grid {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
	padding: 0.5rem 3.5rem;

	& > img {
		max-width: 100%;
		max-width: 11rem;
		flex: 0 0 calc(100 / var(--items-per-screen));
		width: calc(100 / var(--items-per-screen));
		padding: $img-gap;
		border-radius: 0.1rem;
		cursor: pointer;
		transition: 0.3s ease all;
		z-index: 10;
		margin: auto;

		&:hover {
			position: relative;
			padding: 0;
			transform: scale(1);
			z-index: 1;
		}
	}
}
