@import '../../styles/global.scss';

.row {
	.header {
		display: flex;
		justify-content: space-between;
		padding: 0.5rem 3%;
		align-items: center;

		.title {
			font-size: 2rem;
			margin: 0;
			padding: 0;
			padding: 0.5rem 0;
		}
	}
	.carrousel {
		padding: 0 3%;
	}
}
