@import '../../styles/global.scss';

.seasons {
	padding: 1.875rem 0 0;
	text-decoration: none;

	h2 {
		color: $white;
		font-weight: bolder;
		font-size: 2rem;
		padding-bottom: 1.5rem;
	}

	.seasonsGrid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
		grid-gap: 1rem;

		.season {
			text-decoration: none;
			color: $white;
			border: $white solid 1px;
			border-radius: 0.625rem;
			padding: 1rem;
			text-align: center;
			transition: 0.3s ease all;
			width: 100%;
			display: flex;
			justify-content: center;

			&:hover {
				transform: scale(1.02);
				box-shadow: 0 0.5rem 1rem 0 rgba($color: $white, $alpha: 0.2);
			}
		}
	}
}
