$black: #141414;
$white: #fff;
$gray: #aaa;

$itemGrow: 1.2;
$duration: 250ms;
$handle-size: 3rem;
$img-gap: 0.25rem;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $black;
	font-family: 'Open Sans', sans-serif;
	color: $white;
}
.background {
	width: 100%;
	height: 100vh;
	background-image: url(https://cutewallpaper.org/22/live-action-films-wallpapers/3093311848.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.login {
		position: absolute;
		top: 50%;
		left: 50%;
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
		width: 380px;
		padding: 20px 30px;
		background-color: $white;
		box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.15);
		border-radius: 10px;

		.form {
			h1 {
				text-align: center;
				color: $black;
				margin: 10px 0px 20px;
				font-size: 25px;
			}
			.error {
				color: #dc3545;
				text-align: center;
			}

			.form-element {
				margin: 15px 0px;

				label {
					font-size: 14px;
					color: $black;
				}

				& input[type='text'],
				& input[type='password'] {
					margin-top: 5px;
					display: block;
					width: 100%;
					padding: 10px;
					outline: none;
					border: 1px solid #aaa;
					border-radius: 5px;
				}

				button {
					width: 100%;
					height: 40px;
					border: none;
					outline: none;
					font-size: 16px;
					background: $black;
					color: $white;
					border-radius: 10px;
					cursor: pointer;
				}
			}
		}
	}
}

.container {
	width: 100%;
	padding: 0 3%;
	margin: auto;
}

.header {
	padding: 0 3%;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem calc($img-gap * 2 + $handle-size);
	align-items: center;

	.title {
		font-size: 2.5rem;
		margin: 0;
		padding: 0;
		padding: 0.5rem 0;
	}
}

header {
	padding: 15px 0;
	background-color: $black;
	position: sticky;
	top: 0.1px;
	z-index: 100;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		nav {
			a {
				color: $gray;
				text-decoration: none;
				margin-right: 20px;
				cursor: pointer;

				&:hover,
				&.active {
					color: $white;
				}
			}
		}

		.user {
			font-size: 1.5rem;
			cursor: pointer;

			a {
				color: $gray;
				text-decoration: none;
				margin-right: 1rem;
				vertical-align: middle;

				&:hover {
					color: $white;
				}

				i {
					padding-left: 1rem;
				}
			}

			button {
				padding: 0.2rem;
				border: 0.1rem solid $white;
				background-color: $black;
				color: $white;
				font-size: 18px;
				cursor: pointer;
			}
		}
	}
}

.search {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem calc($img-gap * 2 + $handle-size);

	input {
		width: 100%;
		height: 40px;
		padding: 0.5rem 10px;
		border: none;
		outline: none;
		font-size: 1.8rem;
		background-color: #f2f2f2;
	}

	button {
		width: 10%;
		height: 40px;
		border: 0.1rem solid $white;
		background-color: $black;
		color: $white;
		font-size: 18px;
		cursor: pointer;
	}
}

.main-movie,
.selected-movie {
	font-size: 16px;
	min-height: 40.62em;
	color: $white;
	display: flex;
	align-items: end;
	background-position: center center;
	background-size: cover;

	.container {
		margin: 0 auto;
		margin-bottom: 2em;

		.title {
			font-weight: 600;
			font-size: 3.12em;
			margin: 0.4em 0;
		}

		.description {
			font-weight: normal;
			font-size: 1em;
			line-height: 1.75em;
			max-width: 40%;
			margin-bottom: 1.25em;
		}

		a {
			text-decoration: none;
		}

		.button {
			background: rgba(0, 0, 0, 0.5);
			border: none;
			border-radius: 0.31em;
			padding: 0.93em 1.87em;
			color: $white;
			margin-right: 1.25em;
			cursor: pointer;
			transition: 0.3s ease all;
			font-size: 1.25em;

			&:hover {
				background: $white;
				color: $black;
			}
		}
	}
}

.selected-movie .container {
	.buttons {
		display: flex;
		justify-content: space-between;
	}
}

main {
	h2 {
		color: $white;
		font-weight: bolder;
		font-size: 2rem;
		padding-bottom: 1.5rem;
	}

	.info {
		padding: 30px 0 0;
		display: flex;
		justify-content: space-between;
		width: 100%;
		font-size: 1rem;

		.data-sheet {
			width: 35%;

			.data-title {
				font-weight: bold;
			}

			.data-description {
				color: $gray;
				padding: 0.5rem 0;
			}
		}

		.synopsis {
			width: 60%;
		}
	}

	.cast {
		padding: 30px 0 0;

		.cards {
			display: grid;
			gap: 0.5rem;
			grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));

			.card {
				align-content: center;
				width: 100%;
				border-radius: 2rem;

				img {
					width: 100%;
					height: 55%;
					gap: 5px;
					transition: 0.3s;
					border-radius: 2rem;
					object-fit: cover;

					&:hover {
						box-shadow: 0 8px 16px 0 rgba($color: $white, $alpha: 0.2);
					}
				}

				.card-container {
					padding: 2px 16px;
					text-align: center;

					.actor {
						font-weight: 600;
						padding: 0.5rem;
					}

					.character {
						color: $gray;
					}
				}
			}
		}
	}
}

.row {
	.header {
		padding: 0 3%;
		display: flex;
		justify-content: space-between;
		padding: 0.5rem calc($img-gap * 2 + $handle-size);
		align-items: center;

		.title {
			font-size: 2rem;
			margin: 0;
			padding: 0;
			padding: 0.5rem 0;
		}
	}
	.carrousel {
		padding: 0 3%;
		.slick-slider .slick-list {
			justify-content: space-between;
			.slick-track {
				.slick-slide {
					padding: 0 0.35rem;
					div {
						img {
							border-radius: 0.1rem;
							cursor: pointer;
							transition: 0.3s ease all;
							z-index: 10;
							&:hover {
								position: relative;
								padding: 0;
								transform: scale(0.98);
								z-index: 1;
								box-shadow: 0 8px 16px 0 rgba($color: $white, $alpha: 0.2);
							}
						}
					}
				}
			}
		}
	}
}

.grid {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));

	padding: 0.5rem 3.5rem;

	& > img {
		max-width: 100%;
		flex: 0 0 calc(100 / var(--items-per-screen));
		width: calc(100 / var(--items-per-screen));
		aspect-ratio: 16/9;
		padding: $img-gap;
		border-radius: 0.1rem;
		cursor: pointer;
		transition: 0.3s ease all;
		z-index: 10;
		margin: auto;

		&:hover {
			position: relative;
			padding: 0;
			transform: scale(1);
			z-index: 1;
		}
	}
}

.footer {
	bottom: 0;
	margin: 20px auto 0;
	padding: 50px 0px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.social-links {
		margin-bottom: 1em;

		.social-link {
			color: $white;
			margin-right: 15px;
			cursor: pointer;
			text-decoration: none;
			font-size: 2.5rem;
		}
	}

	.copyright {
		color: $white;
		font-size: 11px;
		margin-bottom: 15px;
	}
}

.load {
	display: flex;
	justify-content: center;
}

// MEDIAS
// @media (max-width: 1200px) {
// 	.row .carousel {
// 		height: 40%;
// 		.slider {
// 			--items-per-screen: 3;
// 			& > img {
// 				max-width: 33.33333%;
// 			}
// 		}
// 	}
// }

@media (max-width: 900px) {
	// .row .carousel {
	// 	height: 50%;
	// 	.slider {
	// 		--items-per-screen: 2;

	// 		& > img {
	// 			max-width: 50%;
	// 		}
	// 	}
	// }
	.selected-movie,
	.main-movie .description {
		min-width: 100%;
	}
}

// @media (max-width: 640px) {
// 	.row .carousel .slider {
// 		--items-per-screen: 1;
// 		& > img {
// 			max-width: 100%;
// 		}
// 	}
// }

@media (max-width: 553px) {
	.main-movie,
	.selected-movie .container {
		.title {
			margin-top: 1em;
			text-align: center;
		}

		.buttons {
			display: flex;
			flex-direction: column;
			align-content: center;

			.button {
				margin-top: 0.5rem;
				display: inline-block;
				text-align: center;
			}
		}
	}

	main {
		.info {
			flex-direction: column;
			align-content: center;

			.synopsis {
				width: 100%;
				padding-bottom: 1.5rem;
			}

			.data-sheet {
				width: 100%;
			}
		}
	}

	header {
		.container {
			flex-direction: column;
			nav {
				display: flex;
				flex-direction: column;
				align-content: center;
				margin: 0 auto;
				text-align: center;
				a {
					margin: auto;
					margin-top: 0.5rem;
				}
			}
			.user {
				margin-top: 0.5rem;
				.userName {
					display: none;
				}
			}
		}
	}
}
